[Unit]
description=Launches SSL Auto Recorder
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=%h/go/bin/ssl-auto-recorder
Restart=always

[Install]
WantedBy=default.target