services:
  ssl-vision-client:
    image: robocupssl/ssl-vision-client:2.0.0@sha256:69e4014c54894c503d0e2858e1497578351ec972f18ac29ca4fe374b73b4a594
    command: [ "-address", ":8082" ]
    network_mode: host
    restart: on-failure

  ssl-status-board:
    image: robocupssl/ssl-status-board:2.15.3@sha256:a435f8890774c9e417f6e65b359e6c6b34c16c7c69e6d0e9df690de13d0030c2
    command: [ "-address", ":8083" ]
    network_mode: host
    restart: on-failure

  ssl-game-controller:
    image: robocupssl/ssl-game-controller:3.18.1@sha256:467863fda5175a6678e77eab98cae6195576005473383e926fe7c8d9f94f6993
    command: [ "-address", "localhost:8081" ]
    network_mode: host
    restart: on-failure
    volumes:
      - "./data/ssl-game-controller:/config:rw"

  ssl-auto-recorder:
    image: robocupssl/ssl-auto-recorder:1.9.3@sha256:e2b9904fc8bc2ea16ff0d363aa36b886366d23a9bfc368561be1f13ded91c28e
    command: [ "-http-port", "8084" ]
    network_mode: host
    restart: on-failure
    volumes:
      - "./data/ssl-auto-recorder:/data:rw"

  autoref-tigers:
    image: tigersmannheim/auto-referee-vnc:1.6.0@sha256:bc5b4e311ccc913500c257aae7016ab8ab63874c998521c73ea7bd703a6745b4
    command: [ "-a", "-hl" ]
    network_mode: host
    restart: on-failure
    profiles:
      - autorefs-headless

  autoref-erforce:
    image: roboticserlangen/autoref:commit-6f15f574ea80@sha256:3d7c5933c12eb193a1fefcfd6aba86fba42875c588cc883dc20d0bfcb66b11cb
    command: [ ]
    network_mode: host
    restart: on-failure
    profiles:
      - autorefs-headless

  autoref-ui-tigers:
    image: tigersmannheim/auto-referee-vnc:1.6.0@sha256:bc5b4e311ccc913500c257aae7016ab8ab63874c998521c73ea7bd703a6745b4
    command: [ "-a" ]
    environment:
      - DISPLAY=${DISPLAY:-}
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
    network_mode: host
    restart: on-failure
    profiles:
      - autorefs-ui

  autoref-ui-erforce:
    image: roboticserlangen/autoref:commit-6f15f574ea80@sha256:3d7c5933c12eb193a1fefcfd6aba86fba42875c588cc883dc20d0bfcb66b11cb
    command: [ "gui" ]
    environment:
      - DISPLAY=${DISPLAY:-}
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
    network_mode: host
    restart: on-failure
    profiles:
      - autorefs-ui
