[Unit]
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
Restart=always
ExecStart=%h/audioref/audioref.py
WorkingDirectory=%h/audioref

[Install]
WantedBy=default.target
