[Unit]
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
Restart=always
ExecStart=%h/.local/bin/ssl-status-board -address :8083
WorkingDirectory=%h/.config/ssl-status-board

[Install]
WantedBy=default.target
