[Unit]
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
Restart=always
ExecStart=%h/.local/bin/ssl-game-controller
WorkingDirectory=%h/.config/ssl-game-controller

[Install]
WantedBy=default.target
