[Unit]
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
Restart=always
ExecStart=%h/.local/bin/ssl-auto-recorder
WorkingDirectory=%h/.config/ssl-auto-recorder

[Install]
WantedBy=default.target
