[Unit]
description=Launches SSL Game Controller Server
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=%h/.local/bin/ssl-game-controller
Restart=always

[Install]
WantedBy=default.target