name: Test

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - run: ./cli.sh configure_system
      - run: ./cli.sh install_apps
      - run: ./cli.sh install_systemd
      - run: ./cli.sh install_autorefs
      - run: ./cli.sh install_audioref
